<div class="container">
    <h1>Connexion</h1>
    <br>
     <form action="" method="POST">
        <input type="email" name="email" id="email"><br><br>
        <input type="password" name="password" id="password"><br><br>
        <input type="submit" value="Soumettre">
    </form>
</div>
</div>